#signin, #signup{
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 5px 30px 0;
  background-color: white;
  padding: 15px;
}

#dash{
  background-color: white;
  padding: 15px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0 5px 30px 0;
}

#groups{
  margin-bottom: 10px;
}

h1{
  border: outset white 5px;
}

h2{
  border: inset white 5px;
}

body{
  background-image: url("backgrounds/gwe0dlvd9e0-benjamin-child.jpg"), url("backgrounds/jgoerugd_y4-john-towner.jpg"), url("backgrounds/znn6ubhmrui-robert-lukeman.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.error{
  color:red;
}
