<div id="dash" ng-controller="AuthController">

  <ul class="vertical menu" data-accordion-menu>
    <li>
      <a href="#">Solo</a>
      <ul class="menu vertical nested">
        <li><a href="#">Indoor</a></li>
        <li><a href="#">Outdoor</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Group</a>
      <ul class="menu vertical nested">
        <li><a href="#">Indoor</a></li>
        <li><a href="#">Outdoor</a></li>
      </ul>
    </li>
  </ul>


  <div id="upload_image">

    <form name="upload">
      <div class="expanded button" type="file" name="image" ngf-select ng-model="image" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 100, height: 100}">select file</div>
      <button type="submit" class="tiny button" ng-click="uploadImage()">Upload</button>
    </form>

  </div>



  <div id="user_photos" style="background-color: #222; box-shadow: 50px inset;">

    <div class="row" data-equalizer data-equalize-on="medium" id="groups">
      <div class="medium-4 columns">
        <div class="callout" data-equalizer-watch>
          <img src="{{photo.url}}" ng-repeat="photo in userPhotos">
        </div>
      </div>
    </div>

  </div>


  <a ng-click="signOut()" href="#!/">Log out?</a>

</div>
